<ion-view view-title="Sign In" class="signin-page">
<div class="background-image"></div>
  <ion-content class="padding">
  <div class="container_all">
      <img class="homepage_logo" ng-src="img/logo.png"/>
    <div class="mytitle">
      <h1> Identifiez-Vous </h1>
    </div>
    <button ng-click="openLogin()" class="button homepage_connect homepage_button icon-right ion-chevron-right ">
      Connexion
  </button>
  <button ng-click="openRegister()" class="button homepage_register homepage_button icon-right ion-chevron-right">
      Inscription
  </button>
  <p class="err_container"> {{err}} </p>
  </div>
  </ion-content>
</ion-view>