<ion-view view-title="  In" class="signin-page">
<div class="background-image"></div>
  <ion-content class="padding">
  <div class="container_all">
      <img class="homepage_logo" ng-src="img/logo.png"/>
    <div class="mytitle">
      <h1> Identifiez-Vous </h1>
    </div>
    <a href="#/app/login"><button class="button homepage_connect homepage_button icon-right ion-chevron-right">
      Connexion
  </button></a>
   <a ng-click="facebookConnect()"><button class="button homepage_fb homepage_button">
      Connexion via Facebook
  </button></a>
   <a href="#/app/register"><button class="button homepage_register homepage_button icon-right ion-chevron-right">
      Inscription
  </button></a>
  <p class="err_container"> {{err}} </p>
  </div>
  </ion-content>
</ion-view>