<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{song.name}}" class="chat-detail-page">
<ion-nav-buttons >
    <i class="ion-chevron-left back-icon" style="" ng-click="goBack()"> </i>
</ion-nav-buttons>
  <ion-content class="padding">
    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap" href="#/tab/lists/{{list.id}}">
        <img ng-src="{{song.face}}">
        <h2>{{song.name}}</h2>

    <p ng-click="openSong(song)">Play it on Spotify 
    <p>Play it on Apple Music
       
      </ion-item>
  </ion-content>
</ion-view>
