<ion-view view-title="Share a List" class="tab-dash"> 

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider" >  <label class="item item-input"> 
            <input type="text" placeholder="Your research" ng-model="myTitle">
            <div class = "addSongButton ion-android-add-circle"> 
            </div>

          </label></div>
      
      </div>
    </div>

    <div class = "addSongButton ion-android-add-circle" ng-click="addNewSong(myTitle)"> 
            </div>

    <div class="list card" ng-repeat="item in currentList"  class="animate-repeat">
      <div class="item item-divider"> {{item}} </div>
      <div class="item item-body">
        <div>
          {{item.title}}
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
