<ion-view view-title="Favorites">
<ion-nav-buttons side="left">
	<a class="grossirboutton ion-ios-minus-outline" ng-click="showDelete = { 'on': 'off', 'off':'on'}[showDelete]">
	</a>
</ion-nav-buttons>  
<ion-nav-buttons side="right">
    <i class ="settingsicon ion-ios-cog-outline" ng-click="openModal()"></i>
</ion-nav-buttons>   
  <ion-content>
    <ion-list show-delete="showDelete=='on'">
      <ion-item ng-repeat="song in myFavorites" class="item-avatar" >
        	<img ng-src="{{ song.face }}" ng-click="playSong(song)">
        	 <b>{{ song.name}}</b> - {{song.artist }}

        	<i class="icon-right ion-chevron-right" ng-click="openSong(song)"></i>

        	<ion-option-button class="button-assertive" ng-click="removeSong(song, $index)">
       	    <i class="ion-close-circled deletebutton"></i>
      		</ion-option-button>

      </ion-item>
    </ion-list>
        <div ng-click="refreshFavorites()">clic</div>

  </ion-content>
</ion-view>
