<ion-view view-title="My Account" class "myaccount">
    <ion-nav-bar class="bar-stable">
    <h1 class="title" style="color:black" ng-click="goBack()">Retour</h1>
    </ion-nav-bar>

<ion-content class="has-header">

      <ion type="item-text-wrap">
        <img class ="profilpic" ng-src="{{profils.face}}">
        <br>
        <h2 class="profilname">{{profils.name}} <a class="ion-edit" ng-click="editNameClick()"> </a> 
          <div ng-show="showEdit">  <input class ="ech" type="text" placeholder="Your Name" ng-model="myName" > <div class = "ion-ios-color-wand" ng-click="addNewName(myName)"> </input>
            </div>

          </div> 

        </h2>
        <h3 class="email"> {{profils.email}} </h3>
        <br><br>
        <p class="favsong"> My Favorite Song is {{profils.FavoritedSong}} <a class="ion-edit" ng-click="editFavClick()"> </a> 
          <div class="favsong" ng-show="showEditFav">  <input class="favsong" type="text" placeholder="Your Favorite Song" ng-model="myFav" > <div class = "ion-ios-color-wand" ng-click="addNewFav(myFav)"> </input>
            </div> </p>
          </div>
       
       <!-- <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    
      </ion>
  </ion-content>    
</ion-view>
