<ion-view view-title="Favorites" class="favpage" >
<ion-nav-buttons side="left">

	<div class="grossirboutton ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete">

	</div>
</ion-nav-buttons>  
<ion-nav-buttons side="right">
    <i class ="settingsicon ion-ios-cog-outline" ng-click="openModal()"></i>
</ion-nav-buttons>   
  <ion-content>

    <ion-list show-delete="data.showDelete" >

      <ion-item ng-repeat="song in myFavorites" class="item-avatar itemfav" >
        	<img ng-src="{{ song.face }}" ng-click="playSong(song)">
        	 <b >{{ song.name}}</b> - <a class="artist">{{song.artist }}</a>



        	<i class="icon-right ion-chevron-right" ng-click="openSong(song)"></i>

        	<ion-option-button class="button-assertive"  >
       	    <i class="ion-close-circled deletebutton" ng-click="removeSong($index)" ></i>
      		</ion-option-button>
   
<!--    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button> -->

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
