/* Empty. Add your own CSS if you like */


.list-detail-page .nomchanson{
	font-size: 3vw;

}

.list-detail-page .pochette{
	line-height:0px;
}

.ion-ios-cog-outline{
	font-size: 35px;
}

.profilname {
	font-size: 19px;
	margin-left: 100px;
}
.profilpic{
	width: 100px;
	float: left;
	border-radius: 50px;
	margin: 15px;

}
.email {
	font-size: 15px;
	font-style: italic;
}