/* Empty. Add your own CSS if you like */


.list-detail-page .nomchanson{
	font-size: 3vw;

}

.list-detail-page .pochette{
	line-height:0px;
}

.tab-dash .ion-android-add-circle{
	font-size: 25px;
	margin-right: 15px;
